# MongoDB Connection URL (get from MongoDB Atlas)
DB_URL=mongodb+srv://username:password@cluster.mongodb.net/employeedb

# Backend Port
PORT=5000

# Frontend URL for CORS
FRONTEND_URL=http://localhost:5173
